<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SpriteKit Bitmap Font Mac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SpriteKit Bitmap Font.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>33B5C1A619EA0B7700AF9578</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>33B5C1BD19EA0B7700AF9578</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F8FB31FA1805D34300E7EECA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F8FB32251805D34300E7EECA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
